---
import { MainLayout } from "../components/main-layout";
import { Header } from "../components/header";
import { ContentLayout } from "../components/content-layout";

const pageTitle = "About Me";
---

<MainLayout pageTitle={pageTitle} generatorContent={Astro.generator}>
  <Header />
  <ContentLayout>
    <section
      class="flex flex-col-reverse md:flex-row justify-center items-center gap-8 md:gap-4"
    >
      <p class="prose">
        Nothing fancy to see here yet. I'm just playing around with Astro and
        Tailwind CSS. Check out the <a href="/">home page</a> instead.
      </p>
    </section>
  </ContentLayout>
</MainLayout>
