---
const pageTitle = "About Me";
---

<html lang="en" data-theme="nord">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <button class="btn btn-primary btn-sm">Click me</button>
    <h1>Miquel Arranz</h1>
  </body>
</html>
